@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo2.0-Thin.woff') format('woff'),
       url('../fonts/Exo2.0-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  color: #ffffff;
  font-family: 'Trebuchet MS', Arial, sans-serif;

  background-color: #000000; /* fallback */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5) 100%), url("../img/back-pattern.jpg");
}

/* wrapper */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper__title {
  font-family: "Exo", Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;

  margin: 0;
  margin-bottom: 27px;
}

/* cards list */

.cards {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.cards li {
  position: relative;

  display: flex;
  margin-right: 84px;
}

.cards li:last-child {
  margin-right: 4px;
}

/* cards - item */

.cards_item {
  position: relative;

  width: 320px;
  min-height: 480px;
  padding: 4px;

  color: #000000;

  background-image: linear-gradient(135deg, transparent 31px, #1698d9 31px);
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 9px;
  cursor: pointer;
}

/* cards item - elements */

.cards_item__content {
  width: 100%;
  height: 100%;
  padding-top: 19px;
  padding-left: 44px;

  background: url("../img/cat.jpg"), linear-gradient(135deg, transparent 30px, #ffffff 30px);
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: inherit;
}

.cards_item__description {
  margin: 0;

  color: #666666;
  font-size: 16px;
  line-height: 16px;
}

.cards_item__title {
  margin: 0;
  margin-top: 10px;

  color: #000000;
  font-size: 48px;
  line-height: 48px;
}

.cards_item__subtitle {
  margin: 0;
  margin-top: 4px;

  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.cards_item__advantages {
  margin-top: 17px;
  padding: 0;

  color: #666666;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.cards_item__price {
  position: absolute;
  bottom: 11px;
  right: 11px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 81px;
  height: 81px;
  margin: 0;

  color: #ffffff;
  font-size: 21px;
  line-height: 22px;
  text-align: center;

  background-color: #1698d9;
  border-radius: 50%;
}

.cards_item__price span {
  font-size: 42px;
  line-height: 42px;
}

/* cards item - caption */

.cards_item__caption {
  position: absolute;
  left: 0;
  bottom: -34px;

  width: 100%;
  margin: 0;

  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.cards_item__caption a {
  position: relative;

  color: #1698d9;
  text-decoration: none;

  border-bottom: 1px dashed #1698d9;
}

.cards_item__caption a::after {
  content: ".";
  position: absolute;
}

/* cards item - default hover */

.cards_item--default:hover {
  background-image: linear-gradient(135deg, transparent 31px, #2ea8e6 31px);
}

.cards_item--default:hover .cards_item__price {
  background-color: #2ea8e6;
}

.cards_item__caption a:hover {
  color: #2ea8e6;
  border-bottom-color: #2ea8e6;
}

/* cards item - elements states */

.cards_item__caption--selected,
.cards_item__caption--disabled {
  display: none;
}

.cards_item--selected .cards_item__caption--selected,
.cards_item--disabled .cards_item__caption--disabled {
  display: block;
}

/* prototype */

.prototype {
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 1120px;
  height: 565px;
  margin-left: -560px;
  margin-top: -282px;

  background-image: url("../../funbox/prototype.jpg");
  background-repeat: no-repeat;
  background-position: center calc(50% + 17px);
  opacity: 0;
  /* opacity: 0.5; */
  z-index: 1;
}
