@font-face {
    font-family: 'Exo';
    src: url('Exo2.0-Thin.woff') format('woff'),
         url('Exo2.0-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  } 

body {
    display: flex;
    min-height: 100vh;

    color: #ffffff;
    
    background-color: #000000; /* fallback */
    background-image: url("../img/back-pattern.jpg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5) 100%), url("../img/back-pattern.jpg");
}

.wrapper {
    margin: auto;
}