@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo2.0-Thin.woff') format('woff'),
       url('../fonts/Exo2.0-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  color: #ffffff;
  font-family: 'Trebuchet MS', Arial, sans-serif;

  background-color: #000000; /* fallback */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5) 100%), url("../img/back-pattern.jpg");
}

/* wrapper */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper__title {
  font-family: "Exo", Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;

  margin: 0;
}

/* cards list */

.cards {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.cards > li {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-right: 80px;
  padding-top: 27px;
}

.cards > li:last-child {
  margin-right: 0;
}

/* cards - item */

.cards_item {
  position: relative;

  display: flex;
  width: 320px;
  min-height: 480px;
  padding: 4px;

  color: #000000;

  background-image: linear-gradient(135deg, transparent 31px, #1698d9 31px);
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 9px;
  cursor: pointer;
}

/* cards item - elements */

.cards_item__content {
  flex-grow: 1;
  padding-top: 19px;
  padding-left: 44px;

  background-image: url("../img/cat.jpg"), linear-gradient(135deg, transparent 30px, #ffffff 30px);
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: inherit;
}

.cards_item__description {
  margin: 0;

  color: #666666;
  font-size: 16px;
  line-height: 16px;
}

.cards_item__description.selected {
  display: none;
  color: #e62e7a;
}

.cards_item__title {
  margin: 0;
  margin-top: 10px;

  font-size: 48px;
  line-height: 48px;
}

.cards_item__subtitle {
  margin: 0;
  margin-top: 4px;

  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.cards_item__advantages {
  margin-top: 17px;
  padding: 0;

  color: #666666;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.cards_item__price {
  position: absolute;
  bottom: 15px;
  right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 81px;
  height: 81px;
  margin: 0;

  color: #ffffff;
  font-size: 21px;
  line-height: 22px;
  text-align: center;

  background-color: #1698d9;
  border-radius: 50%;
}

.cards_item__price span {
  font-size: 42px;
  line-height: 42px;
}

/* cards item - caption */

.cards_item__caption {
  display: none;
  width: 320px;
  margin: 0;
  margin-top: 14px;

  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.cards_item__caption a {
  position: relative;

  color: #1698d9;
  text-decoration: none;

  border-bottom: 1px dashed #1698d9;
}

.cards_item__caption a::after {
  content: ".";
  position: absolute;
}

/* cards item - default */

.cards_item--default ~ .default {
  display: block;
}

.cards_item--default:hover {
  background-image: linear-gradient(135deg, transparent 31px, #2ea8e6 31px);
}

.cards_item--default:hover .cards_item__price {
  background-color: #2ea8e6;
}

.cards_item__caption a:hover,
.cards_item__caption a:active,
.cards_item__caption a:focus {
  color: #2ea8e6;
  border-bottom-color: #2ea8e6;
}

/* cards item - selected */

.cards_item--selected:hover .default {
  display: none;
}

.cards_item--just_selected ~ .selected,
.cards_item--selected ~ .selected,
.cards_item--selected:hover .selected {
  display: block;
}

.cards_item--just_selected,
.cards_item--selected {
  background-image: linear-gradient(135deg, transparent 31px, #d91667 31px);
}

.cards_item--just_selected .cards_item__price,
.cards_item--selected .cards_item__price {
  background-color: #d91667;
}

.cards_item--selected:hover {
  background-image: linear-gradient(135deg, transparent 31px, #e62e7a 31px);
}

.cards_item--selected:hover .cards_item__price {
  background-color: #e62e7a;
}

/* cards item - disabled */

.cards_item--disabled ~ .disabled {
  display: block;
}

.cards_item--disabled {
  color: #d4d4d4;

  background-image: linear-gradient(135deg, transparent 31px, #b3b3b3 31px);
  cursor: default;
}

.cards_item--disabled .cards_item__content {
  background-image: linear-gradient(135deg, transparent 30px, rgba(255, 255, 255, 0.5) 30px), url("../img/cat.jpg"), linear-gradient(135deg, transparent 30px, #ffffff 30px);
}

.cards_item--disabled .cards_item__description,
.cards_item--disabled .cards_item__advantages {
  color: #d4d4d4;
}

.cards_item--disabled .cards_item__price {
  background-color: #b3b3b3;
}

.cards_item--disabled ~ .cards_item__caption {
  color: #ffff66;
}
