@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo2.0-Thin.woff') format('woff'),
       url('../fonts/Exo2.0-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  color: #ffffff;
  font-family: 'Trebuchet MS', Arial, sans-serif;

  background-color: #000000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5) 100%), url("../img/back-pattern.jpg");
  background-attachment: fixed; /* в тз нет, но мне кажется, так фон смотрится лучше, если элементов будет много */
}

/* wrapper */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper__title {
  font-family: "Exo", Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;

  margin: 0;
}

/* cards list - mobile first */

.cards {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cards > li {
  position: relative;
  padding-top: 27px;
}

/* cards list - tablets */

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 720px;
  }

  .cards > li {
    display: flex;
    flex-direction: column;
  }

  .cards > li:nth-child(2n+1) {
    margin-right: 80px;
  }

  .cards > li:last-child {
    margin-right: 0;
  }
}

/* cards list - desktop */

@media screen and (min-width: 1200px) {
  .cards {
    max-width: 1200px;
  }

  .cards > li {
    margin-right: 80px;
  }

  .cards > li:nth-child(3n) {
    margin-right: 0;
  }
}

/* cards - item */

.cards_item {
  position: relative;

  display: flex;
  width: 320px;
  min-height: 480px;
  margin: 0 auto; /* for mobile */
  padding: 4px;

  color: #000000;

  background-image: linear-gradient(135deg, transparent 31px, #1698d9 31px);
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 9px;
  cursor: pointer;
}

/* cards item - elements */

.cards_item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 472px;
  padding-top: 19px;
  padding-bottom: 279px;
  padding-left: 44px;

  background-image: url("../img/cat.jpg"), linear-gradient(135deg, transparent 30px, #ffffff 30px);
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: inherit;
}

.cards_item__description {
  margin: 0;

  color: #666666;
  font-size: 16px;
  line-height: 16px;
}

.cards_item__description.selected {
  display: none;
  color: #e62e7a;
}

.cards_item__title {
  margin: 0;
  margin-top: 10px;

  font-size: 48px;
  line-height: 48px;
}

.cards_item__subtitle {
  margin: 0;
  margin-top: 4px;

  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.cards_item__advantages {
  margin-top: 17px;
  padding: 0;

  color: #666666;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.cards_item__price {
  position: absolute;
  bottom: 15px;
  right: 15px;

  display: flex;

  background-color: #1698d9;
  border-radius: 50%;
}

.cards_item__price p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 81px;
  min-height: 81px;
  margin: 0;

  color: #ffffff;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
}

.cards_item__price span {
  font-size: 42px;
  line-height: 42px;
}

/* cards item - caption */

.cards_item__caption {
  display: none;
  width: 320px;
  margin-top: 14px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.cards_item__caption a {
  position: relative;

  color: #1698d9;
  text-decoration: none;

  border-bottom: 1px dashed #1698d9;
}

.cards_item__caption a::after {
  content: ".";
  position: absolute;
}

/* cards item - default */

.product_checkbox:not(:checked):not(:disabled) ~ .cards_item__caption.default {
  display: block;
}

.cards_item:not(.just_selected):hover {
  background-image: linear-gradient(135deg, transparent 31px, #2ea8e6 31px);
}

.cards_item:not(.just_selected):hover .cards_item__price {
  background-color: #2ea8e6;
}

.cards_item__caption a:hover,
.cards_item__caption a:active,
.cards_item__caption a:focus {
  color: #2ea8e6;
  border-bottom-color: #2ea8e6;
}

/* cards item - selected */

.product_checkbox:checked ~ .cards_item {
  background-image: linear-gradient(135deg, transparent 31px, #d91667 31px);
}

.product_checkbox:checked ~ .cards_item .cards_item__price {
  background-color: #d91667;
}

.product_checkbox:checked ~ .cards_item:not(.just_selected):hover {
  background-image: linear-gradient(135deg, transparent 31px, #e62e7a 31px);
}

.product_checkbox:checked ~ .cards_item:not(.just_selected):hover .cards_item__price {
  background-color: #e62e7a;
}

.product_checkbox:checked ~ .cards_item:not(.just_selected):hover .default {
  display: none;
}

.product_checkbox:checked ~ .cards_item:not(.just_selected):hover .selected,
.product_checkbox:checked ~ .cards_item__caption.selected {
  display: block;
}

/* cards item - disabled */

.product_checkbox:disabled ~ .cards_item__caption.disabled {
  display: block;
}

.product_checkbox:disabled ~ .cards_item {
  color: #d4d4d4;

  background-image: linear-gradient(135deg, transparent 31px, #b3b3b3 31px);
  cursor: default;
}

.product_checkbox:disabled ~ .cards_item .cards_item__content {
  background-image: linear-gradient(135deg, transparent 30px, rgba(255, 255, 255, 0.5) 30px), url("../img/cat.jpg"), linear-gradient(135deg, transparent 30px, #ffffff 30px);
}

.product_checkbox:disabled ~ .cards_item .cards_item__description,
.product_checkbox:disabled ~ .cards_item .cards_item__advantages {
  color: #d4d4d4;
}

.product_checkbox:disabled ~ .cards_item .cards_item__price {
  background-color: #b3b3b3;
}

.product_checkbox:disabled ~ .cards_item__caption {
  color: #ffff66;
}

/* cards item - checkbox focus */

.product_checkbox:focus ~ .cards_item {
  outline-width: 2px;
  outline-style: solid;
  outline-color: rgba(21, 156, 228, 0.5);
  outline-offset: 4px;
}

/*  */

.visually_hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
